<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.cloudmvc.dao.CloudMapper">

    <select id="findAll" resultType="com.sk.cloudmvc.model.Cloud">
        select *
        from cloud
        where userId = #{userId}
    </select>

    <insert id="addCloud">
        insert into cloud(id, ip, core, hardpan, memory, bandWith, startDate, endDate, userId, state)
        values (#{id}, #{ip}, #{core}, #{hardpan}, #{memory}, #{bandWith}, #{startDate}, endDate, #{userId}, 1)
    </insert>

    <update id="shutdown">
        update cloud
        set state = 0
        where id = #{id}
    </update>
</mapper>