<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.cloudmvc.dao.UserInformationMapper">
    <resultMap id="userinformation" type="com.sk.cloudmvc.model.UserInformation">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="imageUrl" column="image_url"/>
        <result property="phone" column="phone"/>
    </resultMap>
    <select id="findById" resultMap="userinformation">
        select * from userinformation where id = #{id}
    </select>
    <insert id="addInformation">
        insert into userinformation(id, name, sex, age, phone, qq, birthday, address, email, dId)
        values(#{id}, #{name}, #{sex}, #{age},#{phone},#{qq},#{birthday}, #{address}, #{email}, #{department.id})
    </insert>

    <update id="updateInformation">
        update userinformation set name = #{name}, sex = #{sex}, age = #{age}, phone = #{phone}, qq = #{qq},
        birthday = #{birthday}, address = #{address}, email = #{email}, note = #{note} , dId = #{department.id} where id = #{id}
    </update>

    <update id="updateImageUrl">
        update userinformation set image_url = #{imageUrl} where id = #{id}
    </update>

    <delete id="deleteUserInformation">
        delete from userinformation where id = #{id}
    </delete>

    <select id="findByDid" resultMap="userinformation">
        select * from userinformation where dId = #{dId}
    </select>
</mapper>